.Nav{
    position: fixed;
    top:0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 30px;
    z-index: 1;
}
.Nav_logo{
    position: fixed;
    left: 20px;
    object-fit: contain;
    width: 80px;
    cursor: pointer;
}
.Nav_avatar{
    position: fixed;
    right: 20px;
    object-fit: contain;
    width: 30px;
    cursor: pointer;
    
}
.Nav_black{
    background-color: black;
}