.row{
    margin-left: 20px;
    color: #fff;
}
.movie_posters{
    display: flex;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
}
.movie_posters::-webkit-scrollbar{
    display: none;
}
.movie_poster{
    width: 100%;
    object-fit: contain;
    max-height: 100px;  
    margin-right: 10px;
    
}
.movie_poster:hover{
    transform:scale(1.08);
}
.movie_poster_large{
    max-height: 250px;
    transition: transform 450ms;
}
.movie_poster_large:hover{
    transform:scale(1.09);
}